* {
  /* box-sizing: border-box; */
  font-family: sans-serif;
  font-weight: normal;
  color: #8c9caa;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #9fc6bc, #f2dfd1);
}

.calculator-grid {
  border-radius: 25px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 5px;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.calculator-grid__output {
  border-radius: 5px;
  grid-column: 1 / -1;
  background-color: #0c524b75;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator-grid__output-previous {
  color: #f2dfd195;
  font-size: 1.5rem;
}

.calculator-grid__output-current {
  color: #f2dfd1;
  font-size: 2.5rem;
}
